<div class="form-horizontal">
    <h3>Create a new Book</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Books/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Books</h3>
    <form id="BookSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="isbn" class="col-sm-2 control-label">Isbn</label>
        <div class="col-sm-10">
            <input id="isbn" name="isbn" class="form-control" type="text" ng-model="search.isbn" placeholder="Enter the Book Isbn"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input id="title" name="title" class="form-control" type="text" ng-model="search.title" placeholder="Enter the Book Title"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="author" class="col-sm-2 control-label">Author</label>
        <div class="col-sm-10">
            <input id="author" name="author" class="form-control" type="text" ng-model="search.author" placeholder="Enter the Book Author"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input id="description" name="description" class="form-control" type="text" ng-model="search.description" placeholder="Enter the Book Description"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
            <input id="price" name="price" class="form-control" type="text" ng-model="search.price" placeholder="Enter the Book Price"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="nbOfPages" class="col-sm-2 control-label">Nb Of Pages</label>
        <div class="col-sm-10">
            <input id="nbOfPages" name="nbOfPages" class="form-control" type="text" ng-model="search.nbOfPages" placeholder="Enter the Book Nb Of Pages"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="publicationDate" class="col-sm-2 control-label">Publication Date</label>
        <div class="col-sm-10">
            <input id="publicationDate" name="publicationDate" class="form-control" type="text" ng-model="search.publicationDate" placeholder="Enter the Book Publication Date"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="language" class="col-sm-2 control-label">Language</label>
        <div class="col-sm-10">
            <select id="language" name="language" class="form-control" ng-model="search.language" ng-options="l as l for l in languageList">
                <option value="">Choose a Language</option>
            </select>
        </div>
    </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Isbn</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Nb Of Pages</th>
                    <th>Publication Date</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Books/edit/{{result.id}}">{{result.isbn}}</a></td>
                    <td><a href="#/Books/edit/{{result.id}}">{{result.title}}</a></td>
                    <td><a href="#/Books/edit/{{result.id}}">{{result.author}}</a></td>
                    <td><a href="#/Books/edit/{{result.id}}">{{result.description}}</a></td>
                    <td><a href="#/Books/edit/{{result.id}}">{{result.price}}</a></td>
                    <td><a href="#/Books/edit/{{result.id}}">{{result.nbOfPages}}</a></td>
                    <td><a href="#/Books/edit/{{result.id}}">{{result.publicationDate}}</a></td>
                    <td><a href="#/Books/edit/{{result.id}}">{{result.language}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>